#servicos{
    h2{
        font-size: 30px;
    }
    .card{
        text-align: center;
        border: 0px;
        .card-footer{
            background: none;
            border: 0;
            button{
                width: 100%;
            }
        }
        p{
            &.content{
                font-size: 12px;
            }
            &.title{
                font-weight: bold;
                font-size: 18px;
            }
        }
        img{
            height: 100px;
            width: auto;
            // height: auto;
            // max-width: 80px!important;
            // width: 100%;
            display: inline-block;
            margin: 0 auto;
        }
    }
}